.profile__name {
  margin: 0;
  padding: 0;
  padding-right: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  /* identical to box height, or 114% */
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
}

@media screen and (max-width: 800px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    padding-right: 10px;
    max-width: 189px;
  }
}
