.header__email {
  margin:0;
  margin-right: 24px;
  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 122.222% */
}

@media screen and (max-width: 800px) {
  .header__email {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .header__email {
    margin-right: 0;
    text-align: center;
    line-height: 22px; /* 122.222% */
  }
}