.popup__registration-image {
  background-image: url(../../../images/successful.svg);
  width: 120px;
  height: 120px;
  margin-bottom: 32px;
  background-position: center;
  background-size: cover;
}
