.login__submit-button_loading {
  background-image: url(../../../../images/Spinner-1.2s-151px.gif);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
