.login__error{
    width: 358px;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ff0000;
    border: none;
    display: block;
    /* visibility: hidden; */
    min-height: 30px;
   
 
    
}

  
  @media screen and (max-width: 767px) {
    .login__error {
      width: 238px;
    }
  }