.login__subtitle {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  width: 358px;
  margin: 15px 0 0 0;
}

@media screen and (max-width: 767px) {
  .login__title {
    width: 260px;
    margin-top: 20px;
  }
}
